body {
    /* background-image: url("http://localhost:8080/ProjetOnlineCv/static/images/blue-motion-blur-design.jpg") !important; */
    background-repeat: no-repeat;
    background-size: 100%; 
    background-attachment: fixed;
    background-position: center;   
}

.slogan {
	color: #2d5277;
	font-size: 18px;
	width: 65%;
	text-align: center;
	margin: auto;
}

.jumbotron{
	width: 90%;
	margin: auto;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 35%;
      margin: auto;
      }
.carousel-indicators li, #carousel-caption Li{
    background: #ccc;
    
}

.carousel-indicators .active, #carousel-caption Li{
    background: #4d4d4d ;
    
}
  
  #slides{
  background-color: #0080c0 ;
  width: 90%;
  margin: auto
  
}

#h2{
	color: #003cb3;
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.error, .errors {
	text-align: center;
	font-size: 18px;
	color: red;
}

#image1:hover, #image2:hover, #image3:hover, #image4:hover{
	width: 55%;

}

