.content {
   
   margin: auto !important;  
   margin-bottom: -10px !important;
}

/* .clear {
	clear: both;
} */

#boxe {
	border: 3px solid #000000;
	/*   Úpaisseur pourtour box + couleur trait */
	margin: auto; /*   centrage de la box */
	width: 80%; /*   taille de la box */
	padding: 5px;
}

.dossiercompetence {
	margin: 0px auto;
	width: 210mm;
	height: 297mm;
	position: relative;
	background-color: #dadada;
}

.dossiercompetencepage {
	margin: 0px auto;
	width: 210mm;
	position: relative;
	background-color: #dadada;
}

.dossiercompetencepagetoleave {
	padding: 10px;
	margin: 0px auto;
	width: 210mm;
	height: 297mm;
	position: relative;
	background-color: #dadada;
}

.footer {
	position: absolute;
	bottom: 0;
	font-size: 12px;	
	z-index: 3;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

.dossiercompetence .footer {
	position: absolute;
	bottom: 0;
	font-size: 12px;	
	z-index: 3;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

.dossiercompetencepage .footer {
	position: absolute;
	bottom: 0;
	font-size: 12px;
	z-index: 3;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}

.mainDetails {
	padding: 25px 40px;
}

.mainDetails ul li {
	padding: 10px 0;
}

.mainArea {
	position: relative;
	height: 40%; /* position des titres sur la feuille */
	margin: 50px auto;
	padding: 0 10px;
}

#image-holder {
	height: 100%;
	width: 100%;
	position: absolute;
}

#image-holder img {
	position: absolute;
	right: 0;
	top: 0;
	width: 150px;
	border: none;
	height: 100%;
	z-index: 2;
}

hr {
	border: 0.5px solid #000000 !important;
}

.boxed {
	border: 3px solid #000000;/*   Úpaisseur pourtour box + couleur trait */
	margin: auto; /*   centrage de la box */
	width: 80%; /*   taille de la box */
	padding: 5px;
}

.subDetails {
	font-size: 1em;
	font-style: normal;
	margin-bottom: 2px;
	font-weight: 100;
	z-index: 4;
}

section {
	border-top: 1px solid #000000;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

.sectionTitle {
	font-family: Veranda, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 2em;
	color: #000000;
	margin-top: 0px;
}

.sectionContent {
	float: right;
	width: 90%;
}

h2 {
	padding: 5px;
}

h4 {
	text-decoration: underline;
}

body {
	/*    background-image: url("http://localhost:8080/ProjetOnlineCv/static/images/blue-motion-blur-design.jpg"); */
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
}