input:required {
	border-width: 1px;
    box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}

.form-control{
	border-width: 1px;
    box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}

.facebook {
    float: right;
    padding: 0;
    margin-right: 5.5em;
    margin-top: 10px;
}

.youtube {
    float: right;
    padding: 0;
    margin-right: -2.2em;
    margin-top: 10px;
}

.viadeo {
    float: right;
    padding: 0;
    margin-right: -6em;
    margin-top: 10px;
}

.linkedIn {
    float: right;
    padding: 0;
    margin-right: -3.5em;
    margin-top: 10px;
}

.live {
    float: right;
    padding: 0;
    margin-right: -4.9em;
    margin-top: 10px;
    
}

#header1 {
	font-size: 22px;
	margin-bottom: 0;
	border-radius: 20;
	font-family: "Gadugi";
	margin: auto;
    background-color: #2d5277;
}

#header1 .navbar-nav>li>a{
	color: #cce6ff;
}

#header1 .navbar-nav:hover>li>a{
color: #fff	
}

#header1 .navbar-brand{
	color: #fff;
}

#nomSite {
	font-size : 28px;
	margin-top: 10px;
}

body {
 
   background-repeat: no-repeat;
   background-size: 100%; 
   background-attachment: fixed;
   background-position: center; 

}

#inscription {
   
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

#motDePasseOublie {
   
   z-index: 10041;
   overflow: auto;
   overflow-y: auto;
}

.list{
	margin-left: 15px;
    text-align: justify
}

/* Background overlay for popup */
.modal-backdrop.in{
	opacity: 0.2 !important;
}

div.dropdown{
	float: left;
    padding: 10px;
    color: #fff;
}
.dropdown-toggle{
	color: #fff !important;
	background-color: transparent !important;
	text-decoration: none;
}
ul.dropdown-menu lu a{
	color: #000 !important;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu>li>a {
	cursor: pointer;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}