body{
font-family:"Gadugi";
font-size:16px;

}
input:required {
	border-width: 3px;
    box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}
#bg {
      position: fixed;
      top: 1em;
      right: 30%;
      bottom: 0;
      left: 30%;
      margin: 0 -600px;       
      z-index: -1;
    }

.container {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tableaccueil { 
	align:center;
    border-spacing: 30px;
    border-collapse: separate;
}

.tableinscription { 
	
    border-spacing: 20px;
    border-collapse: separate;
}

.tableformulaire { 
	align:center;
    border-spacing: 20px;
    border-collapse: separate;
}

th{
	text-align:center;
	color: red;
}

td{
	text-align:center;
}

.titre {
font-size:20px;
color: white;
}

.error, .errors {
	color: red;
}
.required {
	color: red;
}

.glyphicon* {
	font-size : 20px
}

.item:hover {
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}