html {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

a, a:hover, a:active, a:visited, a:focus {
	color: #ffffff;
	(!
	important
	)
	text-decoration
	:
	none;
	!
	important
}

iframe {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.dossiercvtoleave {
	margin: 0px auto;
	width: 210mm;
	height: 297mm;
	position: relative;
	padding: 20px 0 0;
	background: #e7dbc2;
}

body {
	background-image:
		url(http://localhost:8080/ProjetOnlineCv/static/images/blue-motion-blur-design.jpg);
}

#content {
	background: #e7dbc2;
}

#contenttoleave {
	background: #e7dbc2;
}

.experience {
	margin-left: 220px;
	display: block;
	width: 72.5%;
	padding: 20px 0 0;
}

.experience h2 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;	
	background: #e7dbc2;
}

.experience p {
	font-size: 1em;
	margin-bottom: -5px;
	background: #e7dbc2;
}

.cadre {
	background: #181818;
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-size: 16px;
	color: #222;
}

.clear {
	clear: both;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

.cv {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
	width: 210mm;
}

.lien {
	background-color: #0080c0;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px
}

.mainDetails {
	padding: 25px 35px;
	/* border-bottom: 1px solid #cf8a05; */
	background: #e7dbc2;
}

.name {
	float: left;
}

.name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
}

.name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.mainArea {
	padding: 0 40px;
}

.headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

.headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.contactDetails {
	float: right;
}

.contactDetails ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

.contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

.contactDetails ul li a, a[href^=tel] {
	color: #444;
	text-decoration: none;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.contactDetails ul li a:hover {
	color: #cf8a05;
}

.section {
	border-top: 1px solid #ff8040;
	padding: 20px 0 0;
	background: #e7dbc2;
}

.sectionTitlexp {	
	border-top: 1px solid #ff8040;
	padding: 20px 0 0;
	background: #e7dbc2;
}

.sectionTitlexp h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
	margin-top: 0px;
	margin-left: 10px;
}

.sectionelt {
	border-top: 1px solid #ff8040;
	padding: 20px 0 0;
	background: #e7dbc2;
}

.sectionTitle {
	
} /* #float: left;
	#width: 50%; */
.sectionContent {
	float: right;
	width: 72.5%;
}

.sectionTitle h1 {
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
	margin-top: 0px;
	margin-left: 10px;
}

.subDetails {
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
	padding-left: 0;
}

.keySkills ul li {
	margin-bottom: 3px;
}
/*********************
/* SKILL LEVEL (Stars)
**********************/
.checked {
	color: orange;
}