.content {
  width: 210mm !important;
  height: 297mm !important;
  margin: auto !important;  
  margin-bottom: 10px !important;
  
}

body {
  background-image: url(http://localhost:8080/ProjetOnlineCv/static/images/blue-motion-blur-design.jpg);
}

h1 {
  color: #000000 ! important;
}

.title {
  font-size: 25px !important;
  margin-left: 25px;	
}

.resume {
  width: 960px;  
  margin: auto;  
  position: relative;     
  position: inherit;  
}
.resume .base,
.resume .func { 
  float: left;  
}
.resume .base > div,
.resume .func > div {
  padding-bottom: 10px;
}

.resume .base {
  width: 30%;
  height: 297mm;
  padding: -10px 15px -10px 15px;
  background: blue;
  color: #000000;
  
}
.resume .base .profile {
  background: orange;
  padding: 20px 15px 40px 45px;  
  position: relative;
  z-index: 2;
}

.resume .base .profile .photo img {
  width: 80%;
  border-radius: 50%;
  border: 2px solid #000000;
}

.contact {
	margin-left: 20px;	
}

.resume .func {
 width: 52.7%;
 background: #808040;
 text-align: center;
 margin-bottom: 0;
 height: 297mm;
 margin-left: 20px;
}

.resume .func .work {  
  width: 100%;
  
}

.resume .func .edu { 
  width: 100%;
  
}

.resume .func .skills-prog {  
  width: 100%;
  
}

.resume .func .langues {  
 
  width: 100%;
  
}

.checked {
	color: orange;
}