#content {
	width: 210mm;
	height: 297mm;  
    margin-bottom: 0 !important;
    margin-top: 0 !important;    
}

.title{
	text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;    
    border: 1px solid transparent;
    border-radius: 5px ! important;
    float: left !important;    
    position: absolute;
    margin-left:-30px;
}

.clear {
	clear:both;
}

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #e1e0db;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;	
	margin-top: 0;
	margin-bottom: 0;
    background-image: url(../images/blue-motion-blur-design.jpg);
}

a:hover {
	color:#7b90b5;
	text-decoration: underline;
}

#wrapper {
	width:210mm;
	margin:auto;
	margin-bottom:100px;
	
}

.wrapper-bottom {
	width:210mm;
	height:22px;
	padding:0;
	margin:auto;
	background-image:url(../images/bbottom.jpg);
	background-repeat:no-repeat;
	
}

/* PAPER BACKGROUND */
/* ----------------------------------------- */

#paper {
	width:210mm;
	margin-top: 0;
	
}

/* .paper-top {
	width:210mm;
	margin:auto;
	background-image:url(../images/ptop.jpg);
	background-repeat:no-repeat;
	height:120px;
	
} */

#paper-mid {
	width:210mm;
	margin:auto;
	/* background-image:url(../images/pmid.jpg); */
	background-color:white;
	padding:0;
}

/* .paper-bottom {
	width:210mm;
	margin:auto;
	height:18px;
	background-image:url(../images/pbottom.jpg);
	background-repeat:no-repeat;
} */

.entry {
	width:750px;
	display: block;
	padding-top:0;
	clear: both;
	margin-left:4px;
}

h1  {
	width:360px;
	font-size:42px;
	color:#1b4491 ! important;
	margin-bottom:3px;
	margin-top:-5px
	clear:both;
}

h2 {
	width:300px;
	height: 23px;
	text-align: right;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:22px;
	color:#1b4491;
	margin-bottom:-12px;
}

h3 {
	width:500px ! important;	
	float:left;
	padding:0;
	clear:both;
	font-size: 13px;	
	text-align: left;
}

h4 {
	width:500px ! important;
	float:left;
	padding:0;
	clear:both;
	font-size: 11px;
	color:#7b90b5 ! important;
}

h5 {
	width:500px ! important;
	float:left;
	padding:0;
	clear:both;
	font-size: 10px;
	color:#7b90b5;
}

h6 {
	width:180px;
	text-align: right;
	float:left;
	padding:0;
	clear:both;
	font-size: 9px;
	color:#7b90b5;
}

p {
	width:700px;
	margin-left:40px;
	float:right;	
}

p img {
	float:right;
	margin-left:50px;
	padding-left:50px;
}

div.content {
	clear: both;
	padding:0;
	margin:0;display:block;
}

ul.info {
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none; 
}

ul.info li {
	margin:0;
	padding:0;
	float:left;
	display: block;
	width:500px;	
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:12px;
}

ul.skills {
	margin:0;
	padding:0;	
	width:500px;
	margin:auto;
	list-style-type: none;
	
}

ul.skills li {
	margin:0;
	padding:0;
	float:left;
	width:156px;
	background-repeat: no-repeat;
	padding-left:10px;
	background-position: 0 .5em;
	margin-top:6px;
}

ul.works {
	margin:0;
	padding:0;
	float:right;
	width:500px;
	margin-left:40px;
	list-style-type: none;
}

ul.works li {
	margin:0;
	padding:0;
	float:left;
}

ul.works li img {
	padding:4px;
	background-color:#fff;
	width:95px;
	height:95px;
	border:1px solid #bdc7da;
	margin-right:20px;
	margin-bottom:16px;
}

ul.works li img:hover {
	border:1px solid #1b4491;
	cursor: pointer;
}

img.portrait {
	
	width:150px;
	height:150px;
	padding-top:11px;
	padding-left:11px;
	padding-right:11px;
	padding-bottom:11px;
	margin-left:50px;
	float:left;
	
}

.self {
	width:250px;
	float:left;
	padding-top:11px;
	margin-left:38px;
	margin-bottom:15px;
}

.self ul {
	padding-top: 10px;
}

.self ul li {
	background-repeat: no-repeat;
	padding-left:80px;
	background-position: 0 .1em;	
	display:block;
	margin-top:2px;
}

table {
	width: 500px;

}

table td {
	padding-top:0;	
}

table tr {
	margin-left:auto;	
	margin-right:auto;	
}

/*********************
/* SKILL LEVEL (Stars)
**********************/
.checked {
	color: orange;
}